.board-row {
    display: flex;
    align-items: center;
}

.board-container {
    margin: 0 35%;
}

.App {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    justify-content: center;

}

.square {
    width: 105px;
    height: 105px;
    background-color: #242121;
    border: 1px solid #000;
   
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 12px;
    font-size: 70px;
    
   

}

.square:hover {
    background-color: #e0e0e0;
    box-shadow: 2px 2px 35px #e9eceb;
}

.square.x {
    color: rgb(21, 218, 142);
    text-shadow: 2px 2px 35px #08e7a4;
}

.square.o {
    color: #2c88d3; /* SteelBlue */
    text-shadow: 2px 2px 35px #0856e7;

}

body {
    background-color: #332e2e;
}

.restart {
    margin: 20px;
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
                0 0 4em 1em var(--glow-spread-color),
                inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
}

.restart::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.restart:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
                0 0 4em 2em var(--glow-spread-color),
                inset 0 0 .75em .25em var(--glow-color);
}

.restart:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
                0 0 2.5em 2em var(--glow-spread-color),
                inset 0 0 .5em .25em var(--glow-color);
}




.square {
    
   
    border: .25em solid var(--glow-color);
    padding: 1px 3px;
    color: var(--glow-color);
  

    background-color: var(--btn-color);
  
 
    
    text-shadow: 0 0 .5em var(--glow-color);
   
   
}
.name::after{
    content:"";
    position: absolute;
    background-color: aqua;
     left: 520px;
    bottom:570px;
    width: 300px;
    height: 2px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}
.name:hover::after{
    transform: scaleX(1);
}

.name{
    color: #fff;
    font-family:cursive;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 35px #db00d0;


}
.turn{
    color: #9afcce;
    
   
 
    
}





